
*.db
v16/
Debug/
Chapter/.vs/06_CPlusPlus/v16/.suo
Chapter/.vs/11_Application/v16/.suo
Chapter/.vs/10_ConsoleSystem/v16/.suo
Chapter/.vs/09_Debugging/v16/.suo
Chapter/.vs/08_Device/v16/.suo
Chapter/.vs/13_ThirdParty/v16/.suo
Chapter/.vs/12_GUI/v16/.suo
Chapter/.vs/14_DLL/v16/.suo
Chapter/.vs/02_CPU/v16/.suo
Chapter/.vs/01_HelloWorld/v16/.suo
Chapter/.vs/03_ExceptionHandler/v16/.suo
Chapter/.vs/07_CommonLib/v16/.suo
Chapter/.vs/05_Heap/v16/.suo
Chapter/.vs/04_MemoryManager/v16/.suo
*.ipch
Chapter/.vs/15_AdvancedDebugging/v16/.suo
Chapter/.vs/16_SkyOSLoader/v16/.suo
Chapter/.vs/17_Final/v16/.suo
*.suo
*.obj
*.log
*.tlog
*.recipe
*.txt
*.lib
*.pdb
*.map
*.idb
*.pch
*.ilk
Module/Lua5/.vs/Lua5/v16/.suo
*.dll
*.exp
Chapter/Sort/Intermediate/main.asm
Chapter/Hello/Intermediate/main.asm
Chapter/Math/Intermediate/main.asm
Chapter/Debug/Sort.exe
Chapter/Debug/SkyOSLoader.EXE
Chapter/Debug/SkyOS32.EXE
Chapter/Debug/Math.exe
Chapter/Debug/Hello.exe
.vs
